@import url('https://fonts.googleapis.com/css?family=Comfortaa');

:root
{
  --pure-white: white;
  --dark-red-color: #860000;
  --red-color: #ca0e1d;
  --light-green-color: #00d09c;
  --blue-color: #0e7490;
  --royal-blue: #29517C;
  --bluish-light-grey-color: #F5F7F9;
  --bluish-background-color: #F3F3F3;
  --genre-card-hover-color: #acacac;
  --background-color-dull-yellow: #e0e0d4;
}

html
{
  min-width: 389px;
}

.App {
  text-align: center;
  position: relative;
}

/* For all scrollbars */
*::-webkit-scrollbar 
{
  height: 1em;
}
  
*::-webkit-scrollbar-track 
{
  background: var(--light-grey);
}
  
*::-webkit-scrollbar-thumb 
{
  background: var(--dark-red-color);
}

.react-router-link-no-style
{
  color: inherit;
  text-decoration: none 
}